@font-face {
  font-family: 'Clarendon-Regular';
  src: local('Clarendon-Regular'), url(./assets/Clarendon-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Clarendon-Regular';
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
